/* BASE STYLES */

body {
  background-color: #F3EFE2;
  font-family: 'Montserrat', sans-serif;
}

body > section {
  padding: 30px;
}

blockquote {
  border-left-color: #AAA;
}

.slick-slider {
  margin-bottom: 0px;
}

.btn-large {
  background-color: #aac03d;
  border-width: 0;
  color: #F3EFE2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.btn-large:hover {
  background-color: #98a83e;
}

h1 {
  font-size: 67px;
  letter-spacing: -2px;
}

h2.subheading {
  text-transform: uppercase;
  font-size: 18px;
  color: #505b39;
  font-weight: bold;
  margin-bottom: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #505b39;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ul li {
  color: #5D6846;
  margin-bottom: 5px;
}

ul li > div {
  color: #505b39;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


/* HEADER */

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

#site-header {
  background-color: green;
  background-image: url('../images/header-background.png');
  height: 120px;
  background-size: cover;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

#site-header img#brand-logo {
  height: 110px;
}

body.scrolled #site-header {
  height: 70px;
}

body.scrolled #site-header img#brand-logo {
  height: 60px;
}

/* SECTIONS SHARED */

.pale-section h1 {
  color: #aac03d;
}

.dark-section {
  background-color: #aac03d;
}

.footer-colour-section {
  background-color: #C8C8A1;
}

.dark-section h1 {
  color: #f3efe2;
}

.dark-section a {
  color: #f3efe2;
}

.pale-section a {
  color: #aac03d;
}

.footer-colour-section a {
  color: #666;
}


/* VALUE PROPOSITION */

#value-proposition {
  background-color: transparent;
  background-image: url('../images/header-background.png');
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 40px;
}

#value-proposition h1 {
  color: #F3EFE2;
  text-align: center;
  margin: 150px auto 40px auto;
  font-size: 62px;
  max-width: 800px;
  font-weight: 700;
}

#value-proposition h1 .tagline {
  font-size: 42px;
}

#value-proposition p {
  color: #F3EFE2;
  font-size: 24px;
}

#value-proposition .call-to-action {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* PITCH */

#pitch {
  text-align: center;
}

#pitch p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* ABOUTG US */

#about-us {
  background-color: #aac03d;
  padding: 0;
}

#about-us .text-column {
  padding: 30px;
}

#about-us .photo-column {
  background-color: black;
  padding: 0;
  margin: 0;
}

#about-us img.section-column-image {
  width: 100%;
}

/* PROPERTIES FOR SALE */

#properties-for-sale .scheme-plan-link {
  margin-left: 30px;
}

.plugging-harcourts {
  margin-top: 30px;
}

/* IN A GREAT LOCATION */

#location {
  background-image: url('../images/motueka_river.jpg');
  height: 400px;
  background-size: cover;
}

#location p {
  font-size: 20px;
  line-height: 140%;
  max-width: 800px;
  color: black;
}

/* HOUSE AND LAND */

#house-and-land {
  min-height: 400px;
}

.img-beside-heading {
  margin-top: 34px;
  margin-bottom: 34px;
}

/* contact */

#contact {
  text-align: center;
  min-height: 500px;
}

#contact .contact-details {
  margin: 0 auto;
  width: 320px;
  margin-top: 20px;
}

#contact .field {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  display: block;
  text-align: left;
  white-space: nowrap;
  color: #333;
}

#contact .field .text {
  margin-left: 50px;
}

#contact .field i {
  float: left;
  font-size: 32px;
  position: relative;
  color: #444;
}

#contact .field a {
  color: #333;
}

