/* BASE STYLES */

body {
  background-color: #F3EFE2;
  font-family: 'Montserrat', sans-serif;
}

body > section {
  min-height: 300px;
  padding: 30px;
}

/* HEADER */

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

#site-header {
  background-color: green;
  background-image: url('../images/header-background.png');
  height: 120px;
  background-size: cover;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

#site-header img#brand-logo {
  height: 110px;
}

body.scrolled #site-header {
  height: 70px;
}

body.scrolled #site-header img#brand-logo {
  height: 60px;
}

/* VALUE PROPOSITION */

#value-proposition {
  background-color: transparent;
  background-image: url('../images/header-background.png');
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 40px;
}

#value-proposition h1 {
  color: #F3EFE2;
  text-align: center;
  margin: 150px auto 40px auto;
  font-size: 62px;
  max-width: 800px;
  font-weight: 700;
}
